.view-button, .download-button{
border: none;
color: white;
font-size: 14px;
padding: 5px;
border-radius: 4px;
}

.view-button{
  background-color: #000000;
  padding-left: 29px;
  padding-right: 29px;
  transition: background-color 1s;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-right: 5px;
}

.view-button:link{
  text-decoration: none;
}

.view-button:hover{
color: #000000;
background-color: white;
border: 1px solid black;
padding-left: 28px;
padding-right: 28px;
padding-top: 6px;
padding-bottom: 6px;
}

.view-button:active{
  opacity: 0.5;
}

/*  */

.download-button{
  background-color: #000000;
  color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  transition: background-color 1s
}

.download-button:link{
  text-decoration: none;
}

.download-button:hover{
  color: #000000;
  background-color: white;
  border: 1px solid black;
  padding-top: 6px;
  padding-bottom: 6px;
  text-decoration: none;
  padding-left: 9px;
  padding-right: 9px;
}

.download-button:active{
  opacity: 0.5;
  text-decoration: none;
}

.tsu-height{
line-height: 5px;
}

.course{
  line-height: 20px;
  margin-bottom: 23px;
  text-align: justify;

}

@media (max-width: 575px){

  .course{
  margin-bottom: 2px;
  }
}

.year-graduated{
  font-size: 14px;
}