
.container{
  display: flex;
}

.about-container{
   display: grid;
   padding-top: 50px;
   
}

.about-me{
  display: flex;
  justify-content: center;
}

.about-paragraph{
  text-align: center;
  
}

.about-image{
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.8);
}