body{
  background-color: rgb(255, 255, 255);
  height: 2000px;
}
#sidebar {
  width: 290px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: #000416;
  color: #fff;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
  border-right: 1px solid rgb(165, 165, 165);
  box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.2);
  z-index: 2;
  
  
}
#sidebar.active {
  transform: translateX(0);
  position: fixed;
  
}

  /* this is important for adjusting the margin if you have 
  sidebar that has transition and transform */
  @media (min-width: 1268px) {
    .main-content{
      margin-left: 290px;
    }
    
  }

#sidebar ul {
  padding: 0;
  list-style: none;
  margin-left: 0px;
}
#sidebar ul li {
  padding: 15px;
}
#sidebar ul li a {
  color: #cecece;
  text-decoration: none;
  transition: 0.3s;
   
}

#sidebar ul li a:hover {
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 0 13px rgba(255, 255, 255, 0.8);
}

#sidebar ul li a:active {
  color: #f80000;
  text-decoration: none;
}


.div-cover-photo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.cover-photo{
  height: 260px;
  width: 300px;
  opacity: 0.3;
  border-bottom: 1px solid white;
  box-shadow: 0 4px 5px rgba(255, 181, 181, 0.5);
}

.cover-fix{
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  
}

.cover-fix .profile-name{
  margin-bottom: 25px;
}

.profile-photo{

  height: 110px;
  border-radius: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 1px solid black;
  /* box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5); */
  margin-bottom: 10px;
}

 .div-toggle-button{
  display: flex;
  justify-content: end;
  position: fixed;
  top: 0;
  right: 0;
}


.toggle-button{
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
  background-color: #000000;
  margin-left: 10px;
  border-radius: 100%;
  z-index: 1;
  color: white;
  font-size: 20px;
  transition: border 0.9s, box-shadow 0.5s;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
 }

 .toggle-button:hover{
  background-color: #000000;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.6);
}

.toggle-button:active{
  transition: 0.9s;
}
 


 /* Socials Icon Link */

 .socials{
  display: flex;
 }

 .profile-icon{
  /* align-items: center;
  display: flex;
  border: none;
  border-radius: 6px;
  background-color: rgb(10, 20, 20);
  box-shadow: inset 0 0 2px rgba(190, 190, 190, 0.4);
  margin-left:2px ;
  margin-right: 2px;
  padding-top: 4px;
  padding-bottom: 4px;
  color: rgb(143, 12, 12); */

  align-items: center;
  display: flex;
  border: none;
  border-radius: 6px;
  background-color: rgb(10, 20, 20);
  box-shadow: inset 0 0 2px rgba(190, 190, 190, 0.4);
  margin-left:4px ;
  margin-right: 4px;
  padding-right: 7px;
  padding-left: 7px;
  padding-top: 2px;
  padding-bottom: 2px;
  color: rgb(255, 255, 255);
  transition: 0.5s;
 }
 

 .profile-icon:hover{
  background-color: rgb(0, 132, 255);
 }



/* testing
button.selected{
  color:red;
} */

.list-items{
  display: flex;
  align-items: center;
}

.div-home{
  text-align: center;
  background-color: rgb(10, 20, 20);
  box-shadow: inset 0 0 2px rgba(190, 190, 190, 0.4);
  border: none;
  border-radius: 6px;
  margin-right: 4px;
  padding: 4px;
}


.div-profile{
  display: flex;
  text-align: center;
  margin-top: 2px;
  margin-right: 4px;
  
}

.sidebar-items{
  margin-top: 20px;
}




